
.button--small-rounded{
    background-color: $blue;
    border-radius: 1em;
    color: white;
    padding: .5em 1em ;
    font-size: .8em;
    display: block;
    text-align: center;
    padding: .5em 1.5em;
}