$blue : #30ADD4;
$blue2 : #96E2F8;
$black : #292929;
$red : #d80000;
$yellow : #ffd900;
$green : #C3F980;
$white-smoke: #fcfcfc;
$grey-bg: #f3f3f3;
$grey: #cecece;

$black: rgb(24, 24, 24);
$transparent-bg: #7878786e;
$transparent-bg2: #393939da;