#loading{
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;

    &.fading{
        animation-name: loading_fading;
        animation-duration: 10s;
        animation-fill-mode: forwards;
    }

    .logo{
        background-image: url(../../img/loading/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        width: 10em;
        height: 10em;

        animation: loading_logo 3s linear infinite;
    }
}

@keyframes loading_fading {
    
    0%{
        z-index: 100;
    }
    
    100%{
        z-index: -1;
        display: none;
        
        opacity: 0;
    }
}
@keyframes loading_logo {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}