*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
}

.k-bg{
    background-color: black;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
}
